.box {
  width: 72px;
  height: 100%;
  display: flex;
  padding: 0 4px 8px;
  background: rgb(255, 255, 255);
  flex-direction: column;

  & > :last-child {
    margin-top: auto;
    margin-bottom: 100%;
  }
}