.card {
  width: 100%;
  border: 2px solid transparent;
  background: white;
  transition: all 200ms ease-in-out;
  border-radius: 12px;
  margin-top: 10px;

  &--selected {
    border: 2px solid rgb(83, 132, 238);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  }

  &--withHover {
    &:hover {
      border: 2px solid rgba(132, 147, 168, 0.1);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    }
  }
}