@mixin customScrollbar($thumb-color: #616b62, $track-color: #f1f1f1, $thumb-hover-color: #45a049, $width: 10px) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: calc($width / 2);
  }

  &::-webkit-scrollbar-track {
    background-color: $track-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $thumb-hover-color;
  }
}